@{
    ViewBag.Title = "Quotes";
}

<p style="color:#f5a60a;font-size:30px"><br>Download Quotes</p>
<a asp-action="Download">
    Click here to download
</a>
<p>@Html.ActionLink("Return to link list", "LoginSuccess", null, null, new {style="color:red"})</p>