/*
    Substance Author: David Beltran
    Contains syntax that styles web page.
*/
html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

/*Background color changed to blue*/
body {
    margin-bottom: 60px;
    background-color:#42f5f5;
}